<h1>Cuentas</h1>
<br/>
<ul class="breadcrumb">
  <li >
   <%=link_to 'Mesas',tables_path%> <span class="divider">/</span>
  </li>
  <li class='active'>
   <%=link_to 'Cuentas',bills_path%> <span class="divider">/</span>
  </li>
  
</ul>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Mesa / Descripción</th>
      <th>Emitida</th>
      <th>Estado</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
         <td><%if !bill.table.nil?%><%= bill.table.name%><%end%>  <%= bill.description %></td>
        <td><%= l bill.created_at,:format=>:short  %></td>
        <td> 
        <%if bill.status==false%>Pendiente
 		<%else%>Pagada<%end%>
 		</td>
        <td>
          <%= link_to bill_path(bill) ,:class=>"btn  btn-success" do %>
     	 <i class="icon-eye-open "></i> Ver
	  <% end %>
          <%= link_to 'Editar', edit_bill_path(bill), :class => 'btn ' %>
          <%= link_to 'Borrar', bill_path(bill), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--<%= render :file=>'shared/modal'%>-->
<!--<%= link_to 'Cuenta nueva', new_bill_path, :class => 'btn btn-primary btn-large' %>-->
