<h1>Cuentas</h1>
<br/>
<ul class="breadcrumb">
  <li class='active'>
   <%=link_to 'Cuentas',bills_path%> <span class="divider">/</span>
  </li>
  
</ul>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Emitida</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.id %></td>
        <td><%= link_to bill.description, bill_path(bill) %></td>
        <td><%= l bill.created_at,:format=>:short  %></td>
        <td>
          <%= link_to 'Editar', edit_bill_path(bill), :class => 'btn ' %>
          <%= link_to 'Borrar', bill_path(bill), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render :file=>'shared/modal'%>
<%= link_to 'New', new_bill_path, :class => 'btn btn-primary' %>
