<%if !@bill.table.nil?%>
<h1>Cuenta: <%=@bill.table.name%></h1>
<%else%>
<h1>Cuenta: <%=@bill.ticket.table%></h1>
<%end%>


<br/>
<ul class="breadcrumb">
   <li >
   <%=link_to 'Mesas',tables_path%> <span class="divider">/</span>
  </li>
   <li >
   <%if !@bill.table.nil?%>
   <%=link_to @bill.table.name,table_path(@bill.table)%> 
   <span class="divider">/</span>
   <%else%>
   
   <%end%>
   
  </li>
  <li >
 
<li class="active">
      <%=link_to 'Cuenta'%>
  </li>
  
</ul>
<!--
<label class='label'>Mesa </label>
	<p><b>Mesa       :</b> <%if !@bill.table.nil?%><%= @bill.table.name %><%else%>Sin mesa asignada<%end%></p>
	<p><b>Descripción:</b> <%if @bill.description!=''%><%= @bill.description %><%else%>Sin descripción<%end%></p>
-->


<label class="label"><%= t("activerecord.attributes.bill.created_at", :default => t("activerecord.labels.created_at", :default => "Emitida")) %>:</label>
<p><%= l @bill.created_at,:format=>:short %></p>
<label class="label"><%= t("activerecord.attributes.bill.tatus", :default => t("activerecord.labels.status", :default => "Estado")) %>:</label>
<p>
 <%if @bill.status==false%> 
  	<a href="<%=new_ticket_path(:id=>@bill)%>" class="btn btn-danger" rel="popover" data-content="Haga clic en el enlace para crear el ticket de la cuenta" data-original-title="Atención">Pendiente</a>
 <%else%>
  	<a href="#" class="btn btn-info" rel="popover" data-content="Haga clic en el enlace para cambiar el estado de la cuenta" data-original-title="Atención">Pagada</a>
 <%end%>
</p>

<label class="label">Productos</label>
<div id='items'>
<%= render :partial=>'shared/items',:locals=>{:bill=>@bill}%>
</div>

<div class="form-actions">
<%= link_to "Volver a mesas", tables_path, :class => 'btn'  %>
<a href="<%=edit_bill_path(@bill)%>" class="btn btn-info" rel="popover" data-content="Este botón permite editar la cuenta y trasladarla a otra mesa, asi como añadir la descripción" data-original-title="Edición">Editar</a>

<%= link_to "Borrar", bill_path(@bill), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>


