<h1>Cuenta: <%=@bill.table.name%></h1>

<br/>
<ul class="breadcrumb">
   <li >
   <%=link_to 'Mesas',tables_path%> <span class="divider">/</span>
  </li>
   <li >
   <%=link_to @bill.table.name,table_path(@bill.table)%> <span class="divider">/</span>
  </li>
  <li >
 
<li class="active">
      <%=link_to 'Cuenta'%>
  </li>
  
</ul>
<!--
<label class='label'>Mesa </label>
	<p><b>Mesa       :</b> <%if !@bill.table.nil?%><%= @bill.table.name %><%else%>Sin mesa asignada<%end%></p>
	<p><b>Descripción:</b> <%if @bill.description!=''%><%= @bill.description %><%else%>Sin descripción<%end%></p>
-->


<label class="label"><%= t("activerecord.attributes.bill.created_at", :default => t("activerecord.labels.created_at", :default => "Emitida")) %>:</label>
<p><%= l @bill.created_at,:format=>:short %></p>
<label class="label"><%= t("activerecord.attributes.bill.tatus", :default => t("activerecord.labels.status", :default => "Estado")) %>:</label>
<p>
 <%if @bill.status==false%>
 <span class="label label-important">Pendiente</span>
 <%else%>
 <span class="label label-success">Pagada</span>
 <%end%>
</p>
<label class="label">Productos</label>

<div id='items'>
<%= render :partial=>'shared/items',:collection=>@bill.items,:locals=>{:bill=>@bill}%>
</div>


<div class="form-actions">
<%= link_to "Volver", bills_path, :class => 'btn'  %>
<%= link_to "Editar", edit_bill_path(@bill), :class => 'btn' %>
<%= link_to "Borrar", bill_path(@bill), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>


