<h1>Categorys</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= category.created_at %></td>
        <td>
          <%= link_to 'Editar', edit_category_path(category), :class => 'btn btn' %>
          <%= link_to 'Eliminar', category_path(category), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_category_path, :class => 'btn btn-primary' %>
